<ion-view title="Home">
    <ion-content ng-controller="MainCtrl">
      <!-- The content of the page -->

	<ion-list>
		<ion-item ng-repeat="app in $storage.apps.apps | orderBy:'id':reverse" class="" >
		<img src="https://build.phonegap.com/api/v1/apps/{{app.id}}/icon?access_token={{$storage.appToken}}" style="height:40px;float:left;" class=""/>

		<div class="buttons padding-left" style="float:right;perspective: 200px;">
				<i class="icon ion-iphone {{app.status.ios}} list-button" style=""></i>
				<i class="icon ion-social-windows {{app.status.winphone}} list-button" style=""></i>
				<i class="icon ion-social-android {{app.status.android}} list-button" style=""></i>
				<a class="icon ion-android-download" style="font-size: 40px;padding-right:20px;" ng-href="https://build.phonegap.com/api/v1/apps/{{app.id}}/android?access_token={{$storage.appToken}}" ng-click="$window.open('https://build.phonegap.com/api/v1/apps/{{app.id}}/android?access_token={{$storage.appToken}}', '_system');"></a>
				<i class="icon ion-pull-request" style="font-size: 40px;padding-right:20px;" ng-click="PgAPI.pullApp($storage.appToken, app.id)"></i>
				<a class="icon ion-chevron-right" style="font-size: 40px;color:lightgrey;" ng-href="#/details/{{app.id}}"></a>
		</div>
		<span class="padding">
			{{app.title}}<br/>
			{{app.package}} v{{app.version}}
		</span>
		</ion-item>
	</ion-list>

</div>
    </ion-content>
</ion-view>